<!-- header section -->
<div class="container">
    <div class="row d-flex align-items-center justify-content-center pt-4">
        <div class="col-md-5 pt-4">
            <div class="box-shadow border-box shadow-sm pt-3">
                <app-google-heading></app-google-heading>
                <!-- form -->
                <div class="row pt-4">
                    <div class="col-md-12">
                        <form class="px-5" ngForm (ngSubmit)="handleForm()">
                            <input type="email" type="text" [(ngModel)]="email" name="email"  class="form-control"
                                style="height: 9vh;" placeholder="Email or Phone" id="exampleInputEmail1">
                            <a href="#" style="font-size: 14px;" class="font-weight-bold">Forgot
                                email? </a>
                            <div class="pt-4 pb-4">
                                <p style="font-size: 14px;">Not your computer? Use Guest mode to sign in privately.
                                    <a href="#" class="font-weight-bold">Learn more </a>
                                </p>
                            </div>
                            <div class="row pb-4 mb-4">
                                <div class="col-md-6  d-flex  align-items-center pb-4">
                                    <a href="#" style="font-size: 14px;" class="font-weight-bold">Create new Account
                                    </a>
                                </div>
                                <div class="col-md-6  d-flex justify-content-end pb-4">
                                    <button type="submit" class="btn btn-primary"
                                        style=" border:none;border-radius:9px;">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- footer section -->
            <app-google-footer></app-google-footer>
        </div>
    </div>
</div>