<!-- header section -->
<div class="container">
    <div class="row d-flex align-items-center justify-content-center pt-4">
        <div class="col-md-5 pt-4">
            <div class="box-shadow border-box shadow-sm pt-3">
               <app-google-heading></app-google-heading>
                <!-- form -->
                <div class="row px-4">
                    <div class="col-md-12 px-4">
                        <form class="pt-4">
                            <input type="email" class="form-control" style="height: 9vh;"
                                placeholder="Enter your password" id="exampleInputEmail1">
                            <div class="form-group form-check pt-2">
                                <input type="checkbox" class="form-check-input " id="exampleCheck1">
                                <label class="form-check-label font-weight-normal" for="exampleCheck1"
                                    style="font-size:14px;color:black;">Show password</label>
                            </div>

                            <div class="row pb-4 mb-4 pt-4 mt-4">
                                <div class="col-6 d-flex align-items-center pb-4 mb-4">
                                    <a href="#" style="font-size: 14px;" class="font-weight-bold">More ways to sign in
                                    </a>
                                </div>
                                <div class="col-6 pb-4 mb-4 d-flex justify-content-end">
                                    <button class="btn btn-primary" style=" border:none;border-radius:9px;"
                                        routerLink="/login">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
    <!-- footer section -->
    <app-google-footer></app-google-footer>
</div>
</div>
</div>
