<div class="row pt-4">
    <div class="col-md-6">
        <select class="custom-select " style="font-size:12px;border:none;color:gray">
            <option selected>Engligh(United States)</option>
            <option value="2">English(US)</option>
            <option value="3">English(UK)</option>
        </select>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end" style="color:gray">
        <span style="font-size: 12px;" class="p-2"><a href="#" style="color:gray">Help</a></span>
        <span style="font-size: 12px;" class="p-2"><a href="#" style="color:gray">Privacy</a></span>
        <span style="font-size: 12px;" class="p-2"><a href="#" style="color:gray">Terms</a></span>
    </div>
</div>